@font-face {
    font-family: 'Pixel Font';
    src: url('sources/font.TTF') format('truetype');
}

body {
    background-image: url('images/background.png'); /* Caminho da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center center; /* Posiciona a imagem no centro */
    background-attachment: fixed; /* Faz a imagem ficar fixa enquanto rola a página */
}

h1 {
    font-family: "Pixel Font", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 55px;
    line-height: 30px;
}

.text_shadow {
    text-shadow: 
        -8px 8px 0 black,  
         2px -2px 0 black,  
        -2px  2px 0 black,  
         2px  2px 0 black;  
}

#title_top {
    color: brown;
}

#title_down {
    color: goldenrod;
}

#menu_buttons {
    height: 650px;
    width: 99.2vw;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Força as divs ficarem uma embaixo da outra */
    gap: 10px; /* Espaçamento entre elas */
}

.button_element {
    font-family: "Pixel Font", sans-serif;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 95px;
    width: 226px;
    background-image: url(images/button.png);
    background-size: cover;
    border: none;
    transition: all 0.2s ease; /* Suaviza a animação */
}

.button_element:hover {
    height: 100px;
    width: 240px;
}