@font-face {
    font-family: 'Pixel Font';
    src: url('../source/font.TTF') format('truetype');
}

:root {
    --title-gif-delay: 1610ms;
}

body {
    background-image: url('./assets/home/home_background.gif'); /* Image Path */
    background-size: cover; /* Image cover all screen */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Fix the image */
    overflow-x: hidden;
}

h1 {
    font-family: "Pixel Font", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 65px;
    line-height: 30px;
}

.text_shadow {
    text-shadow: 
        -8px 8px 0 black,  
         2px -2px 0 black,  
        -2px  2px 0 black,  
         2px  2px 0 black;  
}

#title_top {
    color: brown;
    transform: translateX(-69%);
    animation: leftToCenter 1000ms linear forwards;
}

@keyframes leftToCenter {
    to {
        transform: translateX(0);
    }
}

#title_down {
    color: #c3c3c3;
    transform: translateX(69%);
    animation: rightToCenter 1000ms linear forwards;
    animation-delay: var(--title-gif-delay);
}

@keyframes rightToCenter {
    to {
        transform: translateX(0);
    }
}

#car_gif_left {
    position: absolute;
    transform: translateX(-200px);
    top: 36px;
    background-image: url("./assets/home/title_animation_car.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 42px;
    width: 180px;
    animation: gifToRight var(--title-gif-delay) linear;
}

@keyframes gifToRight {
    to {
      transform: translateX(100vw);
    }
}

#car_gif_right {
    position: absolute;
    transform: scaleX(-1); /*Inverted GIF*/
    right: -180px;
    top: 115px;
    background-image: url("./assets/home/title_animation_car.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 42px;
    width: 180px;
    animation: gifToLeft var(--title-gif-delay) linear;
    animation-delay: var(--title-gif-delay);
}

@keyframes gifToLeft {
    to {
      transform: scaleX(-1); /*Inverted GIF*/
      right: 100%;
    }
}


#menu {
    height: 75vh;
    width: 99.2vw;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column; /* divs align like column */
    gap: 10px; /* Padding between divs */
}

.btn_menu {
    position: relative;
    font-family: "Pixel Font", sans-serif;
    text-align: center;
    font-size: 28px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 95px;
    width: 226px;
    background-image: url(./assets/home/default_btn.png);
    background-size: cover;
    border: none;
    transition: all 0.2s ease; /* Smoothing the animation */
}

.btn_menu:hover {
    height: 100px;
    width: 240px;
}

#btn_sound {
    background-image: url("./assets/home/sound_btn.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 60px;           /* Align in end */
    left: 80px;             /* Align in left */
    height: 65px;
    width: 100px;
    transition: all 0.2s ease;
}

#btn_sound:hover {
    height: 74px;
    width: 113px;
}

#btn_skin_selector {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/home/skin_selector_btn.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 40px;           /* Align in end */
    left: 225px;             /* Align in left */
    height: 110px;
    width: 147px;
    transition: all 0.2s ease;
}

#btn_skin_selector_physics {
    height: 65px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#credits {
    background-image: url("./assets/home/credits.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: 40px;
    right: 80px;
    transition: all 0.2s ease;
}

#credits:hover {
    height: 135px;
    width: 135px;
}